/* You can add global styles to this file, and also import other style files */
.spacer
  flex: 1 1 auto

.auth-card
  width: 300px
  height: 200px
  margin-left: auto
  margin-right: auto
  margin-top: 300px
  form
    display: grid

.detail-container
  margin-left: 3%
  .detail-title
    margin-bottom: 0
    font-weight: bold
    font-size: 1.1rem
  .detail-value
    margin-bottom: 0
